.container {
    display: inline-grid;
    grid-template-columns: 100px 500px;
    grid-template-rows: 100px 500px;
}

.container > div {
    border: 1px solid blue;
}

#container-sidebar {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 2;
}

#container-header {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}

#container-main-content {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
}